/* Body */
body{
    font-family:
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji';
    width: 100vw;
    overflow-x: hidden;
}

/* Colors */
/* backgound colors */
.bg-navy-blue{
    background-color: #002b5c;
}
.bg-grey{
    background-color: #e0e0e0;
}
.bg-light-grey{
    background-color: #e4e4e4;;
}
.bg-dark-grey{
    background-color: #b9b9b9;
}
.bg-white{
    background-color: white;
}

.border-navy-blue{
    border: 1px solid #002b5c;
}
/* Text colors */
.text-navy-blue{
    color:#002b5c;
}
.text-dark-pink{
    color: #d63855;
}
.text-dark-grey{
    color:#717171;
}
.text-white{
    color: white;
}

/* Text */
.text-sm {
    font-size: 0.875rem/* 14px */;
    line-height: 1.25rem/* 20px */;
}
.text-normal {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
}
.text-bold{
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
}
.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}
.text-2x{
    font-size: 2rem;
    line-height: 1.85rem;
}

.uppercase {
    text-transform: uppercase;
}
.strikethrough {
    text-decoration: line-through;
}

/* for components */
.pointer{
    cursor: pointer;
}
.sphere{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.sphere-sm{
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.no-border{
    border: none;
}
.w-full{
    width: 100%;
    margin:8px;
}
.w-88{
    width:88%;
}
.w-20{
    width: 20px;
}
.w-60{
    width: 60px;
}
.w-45{
    width: 45px;
}
.logo-width{
    width: 170px;
}

/* Alignments */
.overflow-x-hidden{
    overflow-x: hidden;
}
.float-right{
    float: right;
}
.float-left{
    float: left;
}
.flex{
    display: flex;
    
}
.flex-wrap{
    flex-wrap: wrap;
}
.relative{
    position: relative;
}
.align-items{
    display: flex;
    align-items: center;
}
.absolute-left-top{
    position: absolute;
    left:0;
}
.absolute{
    position: absolute
}

.margin-0{
    margin:0;
}
.margin-atuo{
    margin: auto;
}
.margin-top-lg{
    margin-top: 120px;
}
.margin-top-25{
    margin-top: 25px;
}
.margin-y-5{
    margin-top: 5px;
    margin-bottom: 5px;
}
.margin-y-8{
    margin-top: 8px;
    margin-bottom: 8px;
}
.margin-x-5{
    margin-right: 5px;
}

.text-align-center{
    text-align: center;
}
.vertical-center{
    justify-content: center;
    align-items: center;
    display:flex;
}
.paddings{
    padding: 2px;
}
.paddings-m{
    padding: 30px;
}
.paddings-sm{
    padding: 20px;
}
.no-paddings{
    padding: 0px;
}
.auto-margin{
    margin: auto;
}
/* General */
a{
    text-decoration: none;
}
li{
    list-style: none;
}



/* footer */
.footer{
    font-weight: 400;
    line-height: 20px;
}
.footer .footer-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer-link{
    margin-top: 16px;
    display: block;
    font-weight: 400;
    line-height: 20px;
    color: #3d3d4e;
}

.heading{
    color:#575757;
    margin-top: 24px;
    font-size: 12px;
    font-weight: 600;
}
.no-margin{
    margin-top: 0;
}



#horizontal{
    border: 0.2px solid #e7e7e7;
    margin-top: 100px;
    margin-right: 50px;
}

.copyright{
    color: #6e6d7a;
}
